<% include ./partials/head %>
<% include ./modals/login-modal %>
<% include ./modals/signup-modal %>
<% include ./modals/reservation-modal %>
<% include ./partials/header %>




<div id="startchange" class="inner cover">
<h1 class="cover-heading">Bio Kex</h1>
<p class="lead">Tervetuloa elokuvateattereihimme.</p>
</div>

<!-- Form search, TODO: ajax call to get movies from database-->

<form id="searchForm">
    <div class="dropdown-menubar">
        <% Date.prototype.addDays = function (d) {
            if (d) {
                var t = this.getTime();
                t = t + (d * 86400000);
                this.setTime(t);
            }
        };
        var date = new Date();
        %>

        <select id="theater" name="theater" class="selectpicker" title="Valitse teatteri">
            <% for(i=0; i<theaters.length; i++) { %>
                <option>
                    <%= theaters[i].name; %>
                </option>
            <% } %>
        </select>
        <select id="date" name="date" class="selectpicker" title="Valitse päivä">
            <% for(i=0; i<14; i++) { %>
                <option>

                    <%= date.getDate() + '.' + (date.getMonth()+1) + '.' %>
                    <% date.addDays(1) %>
                </option>
            <% } %>
        </select>
        <select id="time" name="time" class="selectpicker" title="Valitse alkamisajankohta">
            <% for(i=14; i<23; i++) { %>
                <option>
                    <%= i %>:00 %>
                </option>
            <% } %>
        </select>


        <button id="submit" class="btn btn-lg">Etsi</button>
    </div>
</form>


<div id="searchresult" class="col-md-12">

<% for (i=0; i<20; i++) { %>
        <div class="movie-card">

            <div class="movie-img" style="display: inline-block; background: url('<%= movies[i].imgsrc %>') center; background-size: cover;"></div>
            <span class="movie-info">
                <h3>
                    <%= movies[i].tit %>
                </h3>
                <p>
                    Vuosi: <%= movies[i].yr %>
                </p>
                <p>
                    Tuotto: $<%= movies[i].grs %>
                </p>
                <p>
                    Ensiesitys: <%= movies[i].opn %>
                </p>

            </span>
            <button id="<%= movies[i].tit %>" class="btn btn-warning btn-lg" style="vertical-align: bottom;" data-toggle="modal" data-target="#reservation-modal">Varaa</button>
        </div>
<% } %>


</div>


<% include ./partials/footer %>
