<% include ./partials/head %>
<% include ./modals/login-modal %>
<% include ./modals/signup-modal %>
<% include ./modals/reservation-modal %>
<% include ./partials/header %>

        <div></div>
          <div id="startchange" class="inner cover">
            <h1 class="cover-heading">Bio Kex</h1>
            <p class="lead">Tervetuloa elokuvateattereihimme.</p>
          </div>
          <% for (i=0; i<20; i++) { %>
                <div class="col-md-12">
                    <div class="movie-card">

                        <img class="movie-img" style="background: url('<%= movies[i].imgsrc %>') center; background-size: cover;" />
                        <span class="movie-info">
                            <h3>
                                <%= movies[i].tit %>
                            </h3>
                            <p>
                                Vuosi: <%= movies[i].yr %>
                            </p>
                            <p>
                                Tuotto: $<%= movies[i].grs %>
                            </p>
                            <p>
                                Ensiesitys: <%= movies[i].opn %>
                            </p>

                        </span>
                        <button id="<%= movies[i].tit %>" class="btn btn-warning btn-lg" style="vertical-align: bottom;" data-toggle="modal" data-target="#reservation-modal">Varaa</button>
                    </div>
                </div>
          <% } %>

<% include ./partials/footer %>
